In [ ]:
#type conversion
int()
float()
set()
list()
dict()
tuple()

In [4]:
#Type conversion
a=10
b='name'
str(a)+b

'10name'

In [ ]:
#collections: collection data types in python are list,set,tuple,dictionaries

In [5]:
#namedtuple(): returns a tuple with the named value for each element in tuple
#so that we can easily access elements with the help of name instead of indexes

from collections import namedtuple
a=namedtuple('courses','name,technology')
s=a('datascience','python')
print(s)

courses(name='datascience', technology='python')

#How to create Arrays in Python?
Arrays can be created in 3 ways

1.import array
2.import array as arr
3.from array import *

 Arrays are mutable

In [7]:
#length of an array
import array as arr
a=arr.array('d',[1.1,2.6,6.3])
len(a)

3

#Adding elements to an array using append,insert or extend

append(): adds a single element at the end of array
    
extend(): add more than one element at end of array
    
insert(): add an element at a specific position in an array

In [9]:
a.append(7.4)
print(a)
a.extend([2.1,4.7,8.2])
print(a)
a.insert(3,4.5)
print(a)

array('d', [1.1, 2.6, 6.3, 7.4, 2.1, 4.7, 8.2, 7.4])
array('d', [1.1, 2.6, 6.3, 7.4, 2.1, 4.7, 8.2, 7.4, 2.1, 4.7, 8.2])
array('d', [1.1, 2.6, 6.3, 4.5, 7.4, 2.1, 4.7, 8.2, 7.4, 2.1, 4.7, 8.2])

#removing elements of an array
1.using pop()
2.using remove()

pop(): remove an element and return it

remove(): removes an element with a specific value without returning it

In [12]:
a.pop(2)
a

array('d', [1.1, 2.6, 7.4, 2.1, 4.7, 8.2, 7.4, 2.1, 4.7, 8.2])

In [20]:
a.remove(2.1)

a

array('d', [1.1, 2.6, 7.4, 8.2, 7.4, 8.2])

# Array concatenation

In [22]:
b=arr.array('i',[5,2,7,1,5])
c=arr.array('i',[6,2,5,6])
d=arr.array('i')
d=b+c
d

array('i', [5, 2, 7, 1, 5, 6, 2, 5, 6])

In [23]:
#slicing an array:
d[0:3]

array('i', [5, 2, 7])

# looping
for x in d:
    print(x)

In [25]:
for x in d[0:4]:
    print(x)

5
2
7
1

# HASH TABLES AND HASH MAPS

is type of data structure that maps keys to its value pairs

#creating dictionaries

1.using curly braces

2.using dict()

In [28]:
a={1:'horse',2:'monkey',3:'snake'}
a

{1: 'horse', 2: 'monkey', 3: 'snake'}

In [35]:
b = dict(abc='horse', cdf='monkey',ere='snake')
print(b)

{'abc': 'horse', 'cdf': 'monkey', 'ere': 'snake'}

# BITWISE OPERATORS

In [36]:
x=10
y=15
x&y

10

In [37]:
x|y

15

In [39]:
x ^ y #xor

5

In [42]:
~x #NOT

-11

In [43]:
x<<y

327680

In [44]:
x>>y

0

# LOOPS in python

1.While loop: it is an indefinite or conditional loops.they will keep on iterating 
    until certain conditions are met.

In [49]:
#example
count=0
while count<9:
    print('number',count)
    count=count+1
print('Good bye')

number 0
number 1
number 2
number 3
number 4
number 5
number 6
number 7
number 8
Good bye

In [59]:
#example:a guesisng game:
#input nmbr=10 then nmbr is too small
#input nmbr=13 then exit: congratulations you made it
#input number is 15 then number is large

import random
n=random.randint(1,99)
guess = int(input("Enter an integer from 1 to 99: "))
while n != guess:
    if guess < n:
        print("guess is low")
        guess = int(input("Enter an integer from 1 to 99: "))
    elif guess > n:
        print("guess is high")
        guess = int(input("Enter an integer from 1 to 99: "))
    else:
        print("you guessed it!")
        break
else:
    print('Congratulations')

Enter an integer from 1 to 99: 50
guess is high
Enter an integer from 1 to 99: 25
guess is low
Enter an integer from 1 to 99: 51
guess is high
Enter an integer from 1 to 99:

ValueError: invalid literal for int() with base 10: ''

for loop: is a loop which repeats a group of statements a specified number o ftimes.
    we will know how many number of loops can be iterated.

In [60]:
#example:
fruits=['mango','grapes','apple']

for fruit in fruits:
    print('current fruit',fruit)
print('Good bye')

current fruit mango
current fruit grapes
current fruit apple
Good bye

In [71]:
#example:find factorial
num = int(input("Enter a number: "))

factorial = 1
for i in range(1,num + 1):
    factorial = factorial*i
print("The factorial of",num,"is",factorial)

Enter a number: 0
The factorial of 0 is 1

In [1]:
#code to print pythagorean numbers which satisfies a2+b2=c2
#print numbers in between 1-20

from math import sqrt
n=int(input('max number'))

for a in range(1,n+1):
    for b in range(1,n):
        c_square = a**2 + b**2
        c=int(sqrt(c_square))
        if ((c_square - c**2) == 0):
            print(a,b,c)

max number30
3 4 5
4 3 5
5 12 13
6 8 10
7 24 25
8 6 10
8 15 17
9 12 15
10 24 26
12 5 13
12 9 15
12 16 20
15 8 17
15 20 25
16 12 20
18 24 30
20 15 25
20 21 29
21 20 29
21 28 35
24 7 25
24 10 26
24 18 30
28 21 35
30 16 34

In [3]:
# using a for loop inside while loop
#bulk reservation: age,name ,sex

travelling=input('yes or no')

while travelling == 'yes':
    n=int(input('number of people travelling:'))
    for i in range(1,n+1):
        Name=input('name:')
        Age=input('Age:')
        Sex=input('Male or Female:')
        print(Name)
        print(Age)
        print(Sex)
    travelling=input('forgot someone?')

yes or noyes
number of people travelling:3
name:Madhu
Age:35
Male or Female:Male
Madhu
35
Male
name:Jyothirmai
Age:33
Male or Female:Female
Jyothirmai
33
Female
name:Hiranya
Age:3
Male or Female:Female
Hiranya
3
Female
forgot someone?no

# Patterns

star pattern Programs  

Number pattern programs

Alphabet/Character Pattern programs

In [16]:
#pyramid
def pattern(n):
    k=2*n #for blank spaces
    for i in range(0,n):#loop for outer rows
        for j in range(0,k):#loop for columns
            print(end=" ")
        k=k-1
        for j in range(0,i+1):#loop for moving fwd direction
            print('* ',end='')
        print('\r')
            
pattern(10)

                    *
                   * *
                  * * *
                 * * * *
                * * * * *
               * * * * * *
              * * * * * * *
             * * * * * * * *
            * * * * * * * * *
           * * * * * * * * * *

In [14]:
#inverse pyramid
def pattern(n):
    k = 2*n 
    for i in range(n,-1,-1):
        for j in range(k,0,-1):
            print(end=" ")
        k=k+1
        for j in range(0,i+1):
            print("* ",end=' ')
        print("\r")
pattern(10)

                    *  *  *  *  *  *  *  *  *  *  *
                     *  *  *  *  *  *  *  *  *  *
                      *  *  *  *  *  *  *  *  *
                       *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *
                         *  *  *  *  *  *
                          *  *  *  *  *
                           *  *  *  *
                            *  *  *
                             *  *
                              *

In [1]:
num=int(input('enter the number of rows'))
for i in range(1,num+1):
    for j in range(1,i+1):
        print('*',end='')
    print('')

enter the number of rows5
*
**
***
****
*****

In [2]:
num=int(input('ente rthe number of rows'))

k=1
for i in range(1,num+1):
    for j in range(1,k+1):
        print('*',end='')
    k=k+2
    print()

ente rthe number of rows6
*
***
*****
*******
*********
***********

In [1]:
num=int(input('enter number of rows'))
for i in range(1,num):
    for j in range(1,num):
        print('* ',end='')
    print('')

enter number of rows6
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
num=int(input('enter number of rows'))
for i in range(1,num):
    for j in range(1,num):
        print(' ',+i,end='')
    print('')

enter number of rows6
  1  1  1  1  1
  2  2  2  2  2
  3  3  3  3  3
  4  4  4  4  4
  5  5  5  5  5

In [5]:
num=int(input('enter number of rows'))
for i in range(1,num):
    for j in range(1,num):
        print(' ',+j,end='')
    print('')

enter number of rows6
  1  2  3  4  5
  1  2  3  4  5
  1  2  3  4  5
  1  2  3  4  5
  1  2  3  4  5

In [13]:
num=int(input('enter number of rows'))
for i in range(num,0,-1):
    for j in range(num,0,-1):
        print(' ',+i,end='')
        
    print('')

enter number of rows5
  5  5  5  5  5
  4  4  4  4  4
  3  3  3  3  3
  2  2  2  2  2
  1  1  1  1  1

In [14]:
num=int(input('enter number of rows'))
for i in range(num,0,-1):
    for j in range(num,0,-1):
        print(' ',+j,end='')
        
    print('')

enter number of rows5
  5  4  3  2  1
  5  4  3  2  1
  5  4  3  2  1
  5  4  3  2  1
  5  4  3  2  1

In [15]:
num=int(input('enter number of rows'))
k=1
for i in range(1,num):
    for j in range(1,num):
        print(' ',+k,end='')
        k=k+1
    print('')

enter number of rows6
  1  2  3  4  5
  6  7  8  9  10
  11  12  13  14  15
  16  17  18  19  20
  21  22  23  24  25

In [16]:
num=int(input('enter number of rows'))
k=1
for i in range(1,num):
    for j in range(1,num):
        print(' ',+k,end='')
        k=k+2
    print('')

enter number of rows6
  1  3  5  7  9
  11  13  15  17  19
  21  23  25  27  29
  31  33  35  37  39
  41  43  45  47  49

In [17]:
num=int(input('enter number of rows'))
k=2
for i in range(1,num):
    for j in range(1,num):
        print(' ',+k,end='')
        k=k+2
    print('')

enter number of rows6
  2  4  6  8  10
  12  14  16  18  20
  22  24  26  28  30
  32  34  36  38  40
  42  44  46  48  50

In [19]:
num=int(input('enter number of rows'))
k=1
for i in range(1,num):
    for j in range(1,num):
        print(' ',i*j,end='')
       
    print('')

enter number of rows6
  1  2  3  4  5
  2  4  6  8  10
  3  6  9  12  15
  4  8  12  16  20
  5  10  15  20  25

In [31]:
num=int(input('enter number of rows'))

for i in range(1,num):
    for j in range(1,4):
        print('{} {}'.format(j,i),end=' ')
    print('')

enter number of rows6
1 1 2 1 3 1
1 2 2 2 3 2
1 3 2 3 3 3
1 4 2 4 3 4
1 5 2 5 3 5

In [32]:
num=int(input('enter number of rows'))

for i in range(1,num):
    for j in range(1,4):
        print('{} {}'.format(i,j),end=' ')
    print('')

enter number of rows6
1 1 1 2 1 3
2 1 2 2 2 3
3 1 3 2 3 3
4 1 4 2 4 3
5 1 5 2 5 3

In [51]:
num=int(input('enter number of rows'))
k=5
for i in range(1,num):
    p=i
    for j in range(1,num):
        print(' ',+p,end='')
        p=p+k
    print('')

enter number of rows6
  1  6  11  16  21
  2  7  12  17  22
  3  8  13  18  23
  4  9  14  19  24
  5  10  15  20  25

In [10]:

k=5

for i in range(1,6):
    p=i
    q=7-i
    for j in range(1,num):
        if(j%2==1):
            print('{} '.format(p),end='')
        else:
            print('{} '.format(q),end='')   
        p=p+k
        q=q+k
    print('')

1 11 11 21 21
2 10 12 20 22
3 9 13 19 23
4 8 14 18 24
5 7 15 17 25

# EVEN/ODD

In [12]:
num=int(input('enter the number'))
if(num%2==0):
    print('EVEN')
else:
    print('ODD')

enter the number7
ODD

# FACTORIAL

In [16]:
num=int(input('enter the number'))
fact=1
for i in range(1,num+1):
    fact=fact*i
print('fact',+fact)

enter the number7
fact 5040

# FACTORIAL USING FUNCTION

In [27]:
def fact(n):
    if n<=1:
        return 1
    else:
        n=n*fact(n-1)
        return n
n=int(input('enter number'))
print('factorial is',fact(n))

enter number5
factorial is 120

# PRIME NUMBER

In [33]:
num=int(input('enter the number'))
count=0
if((num%num==0)

enter the number14
prime nmber 14